/* estilo.css*/

/* -----------------------------------------------------
                    VARIABLES      
------------------------------------------------------*/
:root {
    --negro: black;
    --texto:  #ffffff;
    --gris: #C1B7BF;
    --tablet768: 768px;
    --azul: #044973;
    --azul1: #093550;
    --bordo: #61162B;
    --rosa: #D14756;
    --celeste: #598AAB;
    --azuloscuro: #1b1a33;
    --librecaslon: 'Libre Caslon Text', serif;

}
/* -----------------------------------------------------
                    GENERAL      
------------------------------------------------------*/
* { 
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    color: var(--texto);
    scroll-behavior: smooth
}
 
/* -----------------------------------------------------
                    SCROLL      
------------------------------------------------------*/
@media (prefers-reduced-motion: no-preference) {
	* {
		scroll-behavior: smooth;
	}
}

/*
	(anchos) Breakpoints
	1920 Full HD
	1600
	1200
	1024 -> Tablet
	768  -> Tablet
	< 767 Mobile
	370
*/
/* -----------------------------------------------------
                    CONTENEDOR PRINCIPAL       
------------------------------------------------------*/
.principal {
    background-color: var(--azul1);
    max-width: 100vw;
    margin: auto;
}
h3 { 
    color: var(--rosa);
}
.principal p {
    font-family: var(--librecaslon);
}
/* -----------------------------------------------------
                    REDES      
------------------------------------------------------*/
.redes {
    background: radial-gradient(circle, rgb(209, 71, 86) 0%, rgb(97, 22, 43) 100%);
    height: 35px;
    padding: 10px;
    padding-top: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.lista-redes {
    display:flex;
    align-items: center;
}

.icono-instagram {
    fill: var(--gris);
    transition: .5s;
    margin: 10px;
}

.icono-instagram:hover {
    fill: var(--grisclaro);
}

.icono-linkedin {
    fill:  var(--gris);
    transition: .5s;
    margin:10px;
}

.icono-linkedin:hover {
    fill: var(--grisclaro);
}

.horarios {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
}

.icono-reloj {
    fill: var(--gris);
}

.diasyhoras h6 {
    color: var(--gris);
    margin: 15px; 
    text-align: center;
    font-weight: 400;
}

/* -----------------------------------------------------
                BARRA DE NAVEGACIÓN      
------------------------------------------------------*/

.hamburguesa {
    display: none;
    margin: 10px;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    position: sticky;
    top: 10px;
}

.icono-hamburguesa {
    fill:  var(--bordo);
    transition: .5s;
}

.icono-hamburguesa:hover {
    height: 30px;
    width: 30px;
}

.nav-principal {
    position: sticky;
    top: 0;
    z-index: 1;
}

.nav-lista {
    display: flex;
    list-style: none;
    padding: 10px;
    justify-content: center;
    border-bottom: 1px solid var(--texto); 
    opacity: 0.75;
}

.nav-lista_boton {
    display: block;
    text-decoration: none;
    padding: 8px 12px;
    border-right: 1px solid var(--azuloscuro);
}

.nav-lista_item {
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    transition: 0.5s;
    color: var(--texto)
  }

.nav-lista_item:hover, .nav-lista_item:focus, .nav-lista_item:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    background-color: var(--gris);
}


@media (max-width: 768px) {
    .hamburguesa {
        display: block;
        z-index: 1;
        position: sticky;
    }

    .nav-principal {
        display: none;
    }

    .nav-lista {
        display: block;
        opacity: 0.80; 
        margin: 40px;
        
    }

    .nav-lista_boton {
        border-bottom:1px solid var(--texto);
        text-align: center;
        border-right: none;
    }

    .nav-lista_boton:hover {
        padding-left: 25px;
    }

    .mostrar {
        display: block;
        background-color: var(--azul1);
        position: sticky;
    }
} /*cierro mediaquery de hamburguesa*/

/* -----------------------------------------------------
                    PORTADA      
------------------------------------------------------*/

.portada { 
    display: flex;
    background-image: url(Imagenes/radiografia.jpg);
    background-size: cover;
    height: 75vh;
    background-position: center;
}

.nombre {
    text-align: center;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:#44182429;
    text-shadow: 0 13px 8px var(--negro),0 -5px 10px var(--negro);
}

h2 {
    padding-bottom: 25px;;
}

.boton-reserva {
    background: rgb(9,53,80);
    background: radial-gradient(circle, var(--azul1), var(--azuloscuro) 100%);
    border: 3px solid var(--azul1);
    color: var(--texto);
    padding: 15px 25px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 10px;
    transition-duration: 0.7s;
}
    
.boton-reserva:hover {
    background: var(--bordo);
    background: radial-gradient(circle, var(--bordo) 0%, rgba(53,12,23,1) 100%);
    box-shadow: 5px 10px;
}
.boton-link {
    text-decoration: none;
}
/*.imagen-portada_medico {
    /* padding: 30px 
    max-width: 40vw;
    max-height: 25vw;
    clip-path: polygon(60% 0px, 100% 0px, 100% 100%, 0% 100%);
}*/

@media (max-width: 768px) {
    .principal {
        font-size: 14px;
    }
    .portada{
        height: 60vh;
        background-position: center;
        background-repeat: no-repeat;
    }

    .imagen-portada{ 
        display: none;
    }
    .boton-reserva {
        opacity: 1;
    }
}
/* @media (max-width: 375px) {
    .nombre h1, .nombre h2 {
        background-color: var(--oscurotransparente);
        padding: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }os
    .nombre h2{
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
} */

/* -----------------------------------------------------
                    CONSULTORIOS      
------------------------------------------------------*/

.consultorios {
    display:flex;
    padding: 30px;
    padding-top: 60px;
}

@media (max-width: 768px) {
	.consultorios {
        flex-wrap: wrap;
        justify-content: center;
	}
}

.consultorios-info {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.consultorios-lista {
    padding: 20px;
    list-style: none;
    min-width: 60%;
}

.consultorios-descripcion {
    padding: 20px;
    text-align:center;
}

.consultorios-lista_item {
    margin-bottom: 50px;
    background: var(--rosa);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 25px var(--bordo)
}

/* -----------------------------------------------------
                   servicios      
------------------------------------------------------*/

.servicios {
    text-align: center;
    padding: 30px;
    padding-top: 60px;
    background-color: var(--azul);
}

.servicios h1, .servicios h2{
    color: var(--claro);
}

.servicios-tipos{
    display:flex;
    justify-content: space-around;
    margin-top: 10px;  
}

@media (max-width: 768px) {
	.servicios-tipos {
        flex-direction: column;
        flex-grow: 1;
    }
    .servicios-tipos_item{
        min-width: 100%;
    }
}

.servicios-tipos_item{
    padding: 5px;
    margin: 20px;
    min-width: 30%;
    color: var(--bordo);
    background-color: var(--texto);
    border-radius: 10px;
    border: 3px solid var(--bordo);
    padding-bottom: 30px;
    box-shadow: 0px 13px 25px var(--azuloscuro);
}

.servicios-tipos_item p {
    color: var(--grisoscuro)
}

.icono-rodilla, .icono-medico,
.icono-historiaclinica {
    width: 100px;
    height: 100px;
    border: none;
    margin-bottom: 25px;
    color: var(--grisoscuro);
    border-radius: 25px;
    opacity: 0.75;
    transition-duration: 0.5s;
}
  

/* -----------------------------------------------------
                    SOBRE MI    
------------------------------------------------------*/
.sobre-mi {
    padding: 30px;
    padding-top: 60px;
    display: flex;
}

.imagen-profesional {
    width: 100%;
    padding: 30px;
}

.sobre-mi_info{
    padding: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--bordo);
}

.sobre-mi_texto{
    padding: 15px;
}
@media (max-width: 575px) {
	.sobre-mi {
		display: block;
    }
}

/* -----------------------------------------------------
                    BLOG 
------------------------------------------------------*/

.blog {
    padding: 0px;
    padding-top: 60px;
}
.publicaciones {
    padding: 30px;
}

.publicaciones-item{
    padding: 20px;
}

.swiper-instagram{
    padding-bottom: 50px;
    background-color: var(--rosa);
}

.swiper-instagram h1{
    padding: 30px;
    text-align: center;
}
.taggbox-container{
    width: 60vw;
    flex-grow: 1;
}

/* -----------------------------------------------------
                   RESERVAR TURNOS
------------------------------------------------------*/

.turnos {
    padding: 30px;
    padding-top: 60px;
    display: flex;
}
.preguntas {
    padding: 20px;
    text-align: center;
    max-width: 40%;
}
.preguntas-item{
    padding: 5px;
}
.reservar-turno {
    padding: 20px;
    max-width: 500px;
    background-color: var(--gris);
}
@media (max-width: 768px) {
	.turnos {
		display: block;
    }
    .preguntas{
        max-width: 100%;
    }
    .reservar-turno { 
        max-width: 100%;
    }
}
/* -----------------------------------------------------
                  FOOTER
------------------------------------------------------*/
.footer {
    padding: 30px;
    padding-top: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--bordo);
}

.contacto{
    background-color: var(--grisrosa);
}

.direcciones{
    background-color: var(--grisrosa)
}

.atajos-navegacion{
    background-color: var(--grisrosa);
}