/*estilo.css de gracias*/

body{
    background-color: #093550;
    font-family: 'Zilla Slab', serif;
    
}

.contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10%;
    text-align: center;
    background-color: #D14756;
    border-radius: 30px;
    padding: 15px;
    color: white;
}

.volver{
    align-self: flex-end;
    text-decoration: none;
    color: #61162B;
    transition-duration: 0.5s;
}

.volver:hover{
    color: #093550;
}